body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #6e1e1e;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
}

.top-bar {
    background-color: #6e1e1e;
    height: 15px; 
    color: #6e1e1e;
}

nav ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    color: bisque;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
}

nav ul li {
    margin-right: 20px;
    background-color: #868686;
    padding: 5px;
    border-radius: 5px;
}

footer {
    background-color: #6e1e1e;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

section.tools-section {
    margin-top: 20px;
}

section.tools-section img {
    width: 100%;
    max-width: 400px;
}

.product-listing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px;
    color: #6e1e1e;
}

.product {
    margin: 20px;
    text-align: center;
}

.product img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

.login-section,
.cart-section,
.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #6e1e1e;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
}

.login-section > *,
.cart-section > *,
.contact-section > * {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.login-section button,
.cart-section button,
.contact-section button {
    cursor: pointer;
    color: #6e1e1e; 
    background-color: #c19a6b;
    padding: 5px;
}

.contact-section input,
.contact-section select,
.contact-section textarea {
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    box-sizing: border-box;
    background-color: #fff; 
    color: black; 
}
